ul {
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

li a:hover {
    color: white;
    background-color: black;
}