ul {
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

li a:hover {
    color: white;
    background-color: black;
}


.aboutSamriddhi h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}

.aboutSamriddhi p {
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    width: 100%;
    line-height: 1.5em;

}

.footer {
width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: gray;
    font-size: larger;
    color: white;
    box-sizing: border-box;
}